.button {
    cursor:pointer;
    outline:none;
    position: relative;
    font-size: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 50px;
    border-radius: 50%;
    border:none;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    background: -webkit-linear-gradient(top, #90e7ff, #804ee1);
    background: -moz-linear-gradient(top,#fff, #87c3e1);
    background: -ms-linear-gradient(top,#fff, #81aae1);
    background: -o-linear-gradient(top,#fff, #71cde1);
linear-gradient(top,#fff,#d5dbe1);
    -webkit-transition: all .13s ease-out;
    -moz-transition: all .13s ease-out;
    -o-transition: all .13s ease-out;
    transition: all .13s ease-out;
}
.button:after {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 15px;
    color: #c1bebe;
    content:"START";
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    width: 50px;
    line-height: 60px;
    margin: 10px;
    border-radius: 32px;
    border: 1px solid #efefef;
    box-shadow: -1px 0 0 #dbdcdd,1px 0 0 #dbdcdd,0 1px 0 #d0d1d2,0 0 8px #fff;
    background: -webkit-linear-gradient(top left,#fcfcfc 50%,#dfe4e8);
}
.button:hover:after {
    color: #19a6e4;
    box-shadow: 0 1px 3px #d7d8d9 inset;
    background: -webkit-radial-gradient(#dbeef8 ,#f2f4f6 50%);//指针悬浮之后
}
.button:active:after{
    content:"START";
    color: #19a6e4;
    box-shadow: 0 1px 3px #d7d8d9 inset;
    background: -webkit-radial-gradient(#dbeef8 ,#f2f4f6 50%);//指针悬浮之后
}

